<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qualityboosters.qa.pages.LoginPageTest"/>
      <class name="com.qualityboosters.qa.pages.AddMovieTest"/>
      <class name="com.qualityboosters.qa.pages.AddMovieParllelTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
